*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
  }
  .g-item{
    height: 480px;
  }
  .g-img{
     height: 100%;
     object-fit: cover;
  }
  
  .container-social li{
    float: left;
    /*display: inline;*/
    font-size: 160%;
    margin: 1%;
    padding: 5px;
    flex-wrap: initial;
  }
  
    

  